
<table class=" table table-hover table-bordered table-condensed">

<thead align="center">
    <%
        var date = false;
    mapping.forEach(function(tr){
        %><tr>
        <%

            if(!date){
                %><th rowspan="<%=info.row%>">Дата</th><%
            date=true;
            }
            if(all){
                %><th rowspan="<%=info.row%>">МО</th><%
            }

         tr.forEach(function(td){
         %><th <%
             if('rowspan' in td){
                 %>rowspan="<%=td.rowspan%>"<%
             }
             if('colspan' in td){
            %>colspan="<%=td.colspan%>"<%
             }
             %>><%=td.val%></th><%
         })
          %>
        </tr><%

    })

 %>
<tr><th></th>
<%
 columns.forEach(function(col){
         if(!isNaN(parseInt(col))){ %>

    <th ><%=col%></th>

    <%} else {
        %><th ></th><%
    }

 })
  %>

</tr>
</thead>
    <tbody>
        <%data.forEach(function(itm){
        console.log(itm);
        if(date){
        %><td valign="center" align="center" ><%=moment(itm.inputdate).format('DD.MM.YYYY')%></td>
        <%
        }
        columns.forEach(function(col){
        var n;
        if(!isNaN(parseInt(col)))
            n = 'gr'+col;
        else
            n = col;
        %>

        <td valign="center" align="center" ><%=(parseInt(itm[n])==0)?"":itm[n]%></td>
        <%}) %>





         </tr><%});%>
    </tbody>
</table>
