
<table class=" table table-hover table-bordered table-condensed">

<thead>
    <%
        var date = false;
    mapping.forEach(function(tr){
        %><tr>
        <%
            if(!date){
                %><th rowspan="<%=info.row%>">Дата</th><%
            date=true;
            }

         tr.forEach(function(td){
         %><th align="center" <%
             if('rowspan' in td){
                 %>rowspan="<%=td.rowspan%>"<%
             }
             if('colspan' in td){
            %>colspan="<%=td.colspan%>"<%
             }
             %>><%=td.val%></th><%
         })
          %>
        </tr><%

    })

 %>
<tr><th valign="center" align="center">1</th>
<%
 columns.forEach(function(col){
     %>
    <th align="center"><%=col%></th>

    <%

 })
  %>

</tr>
</thead>
    <tbody>
        <%data.forEach(function(itm){
            var style='';
            var n = 'gr'+columns[1];
            if(itm.rows[n]=='-')
                style = 'class="danger"';

                    %><tr <%= style%> >
            <td >
                <%=moment(parseInt(itm.inputdate)).format('DD.MM.YYYY')%>
            </td>
            <%
             columns.forEach(function(col){
                 var n = 'gr'+col;

                 %>

            <td valign="center" align="center" ><%=(parseInt(itm.rows[n])==0)?"":itm.rows[n]%></td>
            <%}) %>
         </tr><%});%>
    </tbody>
</table>
